/* PC */
@media (min-width: 64em) {

}

/* Tablet % Mobile */
@media (max-width: 63.9375em) {
    .place-btn {
        padding: 16px 16px;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    .contact-form .form-submit-btn {
        padding: 16px 20px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }

    .contact-info {
        line-height: 2;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #footer .social-list {
        font-size: 32px;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    .s-full-width {
        width: 100% !important;
    }

    #header {
        overflow: hidden;
    }
    
    #header .searchbutton {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        background-color: #333;
        padding: 5px 41px;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
    }
}